body{
    position: absolute;
    width: 1440px;
    height: 1024px;
    background-color: #F3F5FC;
}

header{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    margin:40px 40px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

#textoEncrip{

    position: absolute;
    width: 600px;
    border: none;
    height: 630px;
    margin-top: 168px;
    margin-left: 240px;
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 400px;
    line-height: 150%;
    color: #0A3871;
    
}

.aviso{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.aviso img{

    width: 20px;
    height: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    flex: none;
    order: 0;
    flex-grow: 0;
}
 
.aviso p{

    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    left: 264px;
}

.botonesPrincipales{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    margin: 885px 240px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#botonEncriptar{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid#0A3871;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor:pointer;
 }

#botonDesencriptar{

    box-sizing:border-box ;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid#0A3871;
    flex: none;
    order: 1;
    flex-grow: 0;
    justify-content: center;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor:pointer;
}

 .rectangulo{

    position: absolute ;
    width: 400px;
    height: 944px;
    left: 1000px;
    top:40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensajeEncriptado{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 336px;
    height: 781px;
    top: 32px;
    right: 32px;
    font-family: 'Inter';
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #495057;
    border: none;
}

#muñeco{

    position: absolute;
    top:243px;
    right:32px;
    width: 336px
}

.mensajeMuñeco{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 336px;
    height: 122px;
    top: 579px;
    right: 32px;
}

#ningunMensaje{
    
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 32px;
    margin-right: 32px;
    
}

#ingresaTexto{

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 20px;
    margin-right: 20px;    
}

#botonCopiar{

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    margin-top: 845px;
    margin-left: 32px;
    margin-right:32px;
    background: #FFFFFF;
    border-radius: 24px;
    border: 1px solid#0A3871;
    flex: none;
    order: 1;
    flex-grow: 0;
    justify-content: center;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor:pointer;
}

footer{

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 980px 440px;
    text-align: center;
}

.copyright{

    color: #0A3871 ;
    font-family: 'Inter';
    font-size: 13px;
}



    

